<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
<!-- Servlet de mi Clasificacion -->

	<servlet>
		<servlet-name>ClasificacionesControllerAdd</servlet-name>
		<servlet-class>controller.clasificaciones.ClasificacionesControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClasificacionesControllerAdd</servlet-name>
		<url-pattern>/clasificaciones/add</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>ClasificacionesControllerUpdate</servlet-name>
		<servlet-class>controller.clasificaciones.ClasificacionesControllerUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClasificacionesControllerUpdate</servlet-name>
		<url-pattern>/clasificaciones/update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ClasificacionesControllerDelete</servlet-name>
		<servlet-class>controller.clasificaciones.ClasificacionesControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClasificacionesControllerDelete</servlet-name>
		<url-pattern>/clasificaciones/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ClasificacionesControllerIndex</servlet-name>
		<servlet-class>controller.clasificaciones.ClasificacionesControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClasificacionesControllerIndex</servlet-name>
		<url-pattern>/clasificaciones</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ClasificacionesControllerView</servlet-name>
		<servlet-class>controller.clasificaciones.ClasificacionesControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClasificacionesControllerView</servlet-name>
		<url-pattern>/clasificaciones/view</url-pattern>
	</servlet-mapping>




<!-- Servlet de mi Producto -->

	<servlet>
		<servlet-name>ProductoControllerAdd</servlet-name>
		<servlet-class>controller.producto.ProductoControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductoControllerAdd</servlet-name>
		<url-pattern>/productos/add</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>ProductoControllerUpdate</servlet-name>
		<servlet-class>controller.producto.ProductoControllerUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductoControllerUpdate</servlet-name>
		<url-pattern>/productos/update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProductoControllerDelete</servlet-name>
		<servlet-class>controller.producto.ProductoControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductoControllerDelete</servlet-name>
		<url-pattern>/productos/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProductoControllerIndex</servlet-name>
		<servlet-class>controller.producto.ProductoControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductoControllerIndex</servlet-name>
		<url-pattern>/productos</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProductoControllerView</servlet-name>
		<servlet-class>controller.producto.ProductoControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductoControllerView</servlet-name>
		<url-pattern>/producto/view</url-pattern>
	</servlet-mapping>


<!-- Servlets de Product -->
	
	<servlet>
		<servlet-name>ProductDelete</servlet-name>
		<servlet-class>controller.product.ProductDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductDelete</servlet-name>
		<url-pattern>/product/delete</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>ProductUpdate</servlet-name>
		<servlet-class>controller.product.ProductUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductUpdate</servlet-name>
		<url-pattern>/product/update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductAdd</servlet-name>
		<servlet-class>controller.product.ProductAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductAdd</servlet-name>
		<url-pattern>/product/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductIndex</servlet-name>
		<servlet-class>controller.product.ProductIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductIndex</servlet-name>
		<url-pattern>/product</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductView</servlet-name>
		<servlet-class>controller.product.ProductView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductIndex</servlet-name>
		<url-pattern>/product/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Create</servlet-name>
		<jsp-file>/WEB-INF/Views/Product/create.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Create</servlet-name>
		<url-pattern>/createP</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>ProformasControllerAdd</servlet-name>
		<servlet-class>controller.proformas.ProformasControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProformasControllerAdd</servlet-name>
		<url-pattern>/proformas/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProformasControllerDelete</servlet-name>
		<servlet-class>controller.proformas.ProformasControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProformasControllerDelete</servlet-name>
		<url-pattern>/proformas/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProformasControllerUpdate</servlet-name>
		<servlet-class>controller.proformas.ProformasControllerUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProformasControllerUpdate</servlet-name>
		<url-pattern>/proformas/update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProformasControllerView</servlet-name>
		<servlet-class>controller.proformas.ProformasControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProformasControllerView</servlet-name>
		<url-pattern>/proformas/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProformasControllerIndex</servlet-name>
		<servlet-class>controller.proformas.ProformasControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProformasControllerIndex</servlet-name>
		<url-pattern>/proformas</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BillControllerBill</servlet-name>
		<servlet-class>controller.facturas.BillControllerBill</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BillControllerBill</servlet-name>
		<url-pattern>/facturas</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BillControllerCreate</servlet-name>
		<servlet-class>controller.facturas.BillControllerCreate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BillControllerCreate</servlet-name>
		<url-pattern>/facturas/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BillControllerRead</servlet-name>
		<servlet-class>controller.facturas.BillControllerRead</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BillControllerRead</servlet-name>
		<url-pattern>/facturas/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BillControllerUpdate</servlet-name>
		<servlet-class>controller.facturas.BillControllerUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BillControllerUpdate</servlet-name>
		<url-pattern>/facturas/update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BillControllerDelete</servlet-name>
		<servlet-class>controller.facturas.BillControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BillControllerDelete</servlet-name>
		<url-pattern>/facturas/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AccessControllerAdd</servlet-name>
		<servlet-class>controller.access.AccessControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerAdd</servlet-name>
		<url-pattern>/access/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccessControllerView</servlet-name>
		<servlet-class>controller.access.AccessControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerView</servlet-name>
		<url-pattern>/access/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccessControllerDelete</servlet-name>
		<servlet-class>controller.access.AccessControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerDelete</servlet-name>
		<url-pattern>/access/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccessControllerUpdate</servlet-name>
		<servlet-class>controller.access.AccessControllerUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerUpdate</servlet-name>
		<url-pattern>/access/update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccessControllerIndex</servlet-name>
		<servlet-class>controller.access.AccessControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerIndex</servlet-name>
		<url-pattern>/access</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResourcesControllerAdd</servlet-name>
		<servlet-class>controller.resources.ResourcesControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerAdd</servlet-name>
		<url-pattern>/resources/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResourcesControllerView</servlet-name>
		<servlet-class>controller.resources.ResourcesControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerView</servlet-name>
		<url-pattern>/resources/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResourcesControllerUpdate</servlet-name>
		<servlet-class>controller.resources.ResourcesControllerUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerUpdate</servlet-name>
		<url-pattern>/resources/update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResourcesControllerIndex</servlet-name>
		<servlet-class>controller.resources.ResourcesControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerIndex</servlet-name>
		<url-pattern>/resources</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResourcesControllerDelete</servlet-name>
		<servlet-class>controller.resources.ResourcesControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerDelete</servlet-name>
		<url-pattern>/resources/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RolesControllerIndex</servlet-name>
		<servlet-class>controller.roles.RolesControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerIndex</servlet-name>
		<url-pattern>/roles</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RolesControllerAdd</servlet-name>
		<servlet-class>controller.roles.RolesControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerAdd</servlet-name>
		<url-pattern>/roles/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RolesControllerView</servlet-name>
		<servlet-class>controller.roles.RolesControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerView</servlet-name>
		<url-pattern>/roles/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RolesControllerDelete</servlet-name>
		<servlet-class>controller.roles.RolesControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerDelete</servlet-name>
		<url-pattern>/roles/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RolesControllerUpdate</servlet-name>
		<servlet-class>controller.roles.RolesControllerUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerUpdate</servlet-name>
		<url-pattern>/roles/update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UsersControllerDelete</servlet-name>
		<servlet-class>controller.users.UsersControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerDelete</servlet-name>
		<url-pattern>/users/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserControllerIndex</servlet-name>
		<servlet-class>controller.users.UserControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserControllerIndex</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserControllerView</servlet-name>
		<servlet-class>controller.users.UserControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserControllerView</servlet-name>
		<url-pattern>/users/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserControllerUpdate</servlet-name>
		<servlet-class>controller.users.UserControllerUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserControllerUpdate</servlet-name>
		<url-pattern>/users/update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UsersControllerAdd</servlet-name>
		<servlet-class>controller.users.UsersControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerAdd</servlet-name>
		<url-pattern>/users/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserControllerLogin</servlet-name>
		<servlet-class>sesionController.UserControllerLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserControllerLogin</servlet-name>
		<url-pattern>/sesion/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserControllerLogout</servlet-name>
		<servlet-class>sesionController.UserControllerLogout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserControllerLogout</servlet-name>
		<url-pattern>/sesion/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogInController</servlet-name>
		<servlet-class>sesionController.LogInController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogInController</servlet-name>
		<url-pattern>/sesion</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
